<header>
  <%= render  "navigation" %>
</header>

<div class="centered">

<!-- Card masonry based on: -->
<!-- https://medium.com/@andybarefoot/a-masonry-style-layout-using-css-grid-8c663d355ebb -->
<!-- with modifications inspired by the discussion-->
<!-- https://codepen.io/persianturtle/pen/pLNEXm -->
  <section class="grid" id = "masonry"> <!-- container for Masonry layout -->

    <div class="grid-item">
        <article class="card" id ="card-1">
          <div class="card-header">About</div>
          <div class="card-body">
            <p>Welcome!</p>
            <br>
            <p>You have entered the digital playground of <b>Uwe Friese</b>. This is where I tinker with web development for learning and fun. Consider everything under construction and nothing finished.
            </p>
            <br>
            <p>Technically, I am a psychologist with a PhD in cognitive science. My research focuses on the cognitive neuroscience of memory. You can find my scientific papers at <%= link_to "ResearchGate", "https://www.researchgate.net/profile/Uwe_Friese", :target => "_blank" %>.
            </p>
            <%= image_tag("typewriter.jpg", class: "card-image-100")%>
          </div>
        </article>
    </div> <!-- /card-1 -->

    <div class="grid-item">
        <article class="card">
          <div class="card-header">This website</div>
          <div class="card-body">
            <p>I am hosting levelsofgrey.com myself on a VPS running Ubuntu Server 16.04. To do next: SSL certificate, mail server, <%= link_to "XMPP", "https://xmpp.org/", :target => "_blank" %>, and maybe a <%= link_to "Mastodon", "https://joinmastodon.org/", :target => "_blank" %>  instance...</p>

            <%= link_to image_tag("log-screenshot.png", class: "card-image-100"), root_path%>

          </div>
          <div class="card-footer">
            <p>Tools: Nginx, Phusion Passenger, Capistrano</p>
          </div>
        </article>
    </div><!-- /card-2 -->

    <div class="grid-item">
        <article class="card">
          <div class="card-header">Cognitive psychology and mass communication</div>
          <div class="card-body">
            <p>Lecture based on a seminar I gave at the University of Osnabrück. This introduction is directed at a broader audience. (Link coming soon!)</p>
            <%= image_tag("masscomm.png", class: "card-image-100")%>
          </div>
          <div class="card-footer">
            <p>Tools: javascript, reveal.js</p>
          </div>
        </article>
    </div><!-- /card-3 -->

    <div class="grid-item">
        <article class="card">
          <div class="card-header">Fake web store</div>
          <div class="card-body">
            <p>Main achievement of a Webdev course I took. Hosted on <%= link_to "Heroku", "https://pirx-on-rails.herokuapp.com/", :target => "_blank" %> (rather slow, please be patient!)</p>
            <%= link_to image_tag("fake-web-store.png", class: "card-image-100"), "https://pirx-on-rails.herokuapp.com/", :target => "_blank" %>
          </div>
          <div class="card-footer">
            <p>Tools: Rails, PostgreSQL, Devise, Redis, Stripe</p>
          </div>
        </article>
    </div><!-- /card-4 -->

    <div class="grid-item">
        <article class="card">
          <div class="card-header">Fake portfolio page</div>
          <div class="card-body">
            <p>Static webpage within the scope of a Webdev course I took. Hosted on <%= link_to "Netlify", "https://peter-pirx.netlify.com/", :target => "_blank" %></p>
            <%= link_to image_tag("fake-portfolio-page.png", class: "card-image-100"), "https://peter-pirx.netlify.com/", :target => "_blank" %>
          </div>
          <div class="card-footer">
            <p>Tools: HTML, CSS, Javascript</p>
          </div>
        </article>
    </div><!-- /card-5 -->

    <div class="grid-item">
        <article class="card">
          <div class="card-header">Simple javascript game</div>
          <div class="card-body">
            <p>Politically incorrect Frogger clone (link coming soon)</p>
            <%= image_tag("welcome-game.png", class: "card-image-100") %>
          </div>
          <div class="card-footer">
            <p>Tools: phaser.js</p>
          </div>
        </article>
    </div><!-- /card-6 -->

    <div class="grid-item">
        <article class="card">
          <div class="card-header">Playing with the Web Audio API</div>
          <div class="card-body">
            <p>Monty Python style text-to-speech (link coming soon)</p>
            <%= image_tag("moo.jpg", class: "card-image-66")%>
          </div>
          <div class="card-footer">
            <p>Tools: javascript</p>
          </div>
        </article>
    </div><!-- /card-7 -->

    <div class="grid-item">
        <article class="card">
          <div class="card-header">Non-digital cigar box guitar</div>
          <div class="card-body">
            <p>3-string cigar box guitar with mahagony neck and beech fretboard</p>
              <%= image_tag("cbg.jpg", class: "card-image-100")%>
          </div>
          <div class="card-footer">
            <p>Tools: saws, chisels, planes, drills,...</p>
          </div>
        </article>
    </div><!-- /card-8 -->

    <div class="grid-item">
        <article class="card">
          <div class="card-header">Non-digital mod for a Vikings fan</div>
          <div class="card-body">
            <p>&laquo;Warriors don’t show their heart until the axe reveals it.&raquo; &mdash;Floki</p>
            <p></p>
            <%= image_tag("hawk-mod.png", class: "card-image-100")%>
          </div>
          <div class="card-footer">
            <p>Tools: sandpaper, acetone, coffee & vinegar...</p>
          </div>
        </article>
    </div><!-- /card-9 -->

    <div class="grid-item">
        <article class="card">
          <div class="card-header">Non-digital boards</div>
          <div class="card-body">
            <p>Two of ten boards I have built in recent years: A mini cruiser for a friend and a slalom board for me. Both made from three layers of 4 mm birch plywood. Artwork: laser print transfer and water colors</p>
            <%= image_tag("boards.jpg", class: "card-image-100")%>
          </div>
          <div class="card-footer">
            <p>Tools: saw, press, glue, plane,...</p>
          </div>
        </article>
    </div><!-- /card-10 -->

    <div class="grid-item">
        <article class="card">
          <div class="card-header">In progress: Smart picture frame for Grandma</div>
          <div class="card-body">
            <p>A Raspberry Pi, attached to a display, boots into a full-screen browser and loads a default webpage with family pictures and short texts with large font size. Basic navigation with a wireless gamepad.</p>
            <%= image_tag("grandmapi.jpg", class: "card-image-100")%>
          </div>
          <div class="card-footer">
            <p>Tools: Raspberry Pi</p>
          </div>
        </article>
    </div><!-- /card-11 -->

  </section><!-- contents -->

</div> <!-- centered -->
